<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.escriptmonkey.scripting.module.platform.Selector">
      <Selector
            id="GMFSemanticSeletor"
            impl="org.eclipse.escriptmonkey.scripting.integration.modeling.selector.GMFSemanticSeletor"
            priority="50">
      </Selector>
      <Selector
            id="GMFNotationSelector"
            impl="org.eclipse.escriptmonkey.scripting.integration.modeling.selector.GMFNotationSelector"
            priority="45">
      </Selector>
   </extension>

</plugin>
