<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.ui"
            class="org.eclipse.escriptmonkey.scripting.ui.view.ScriptShell"
            icon="images/shell_view.gif"
            id="org.eclipse.escriptmonkey.views.scriptShell"
            name="Script Shell"
            restorable="true">
      </view>
      <category
            id="org.eclipse.escriptmonkey.scripting.ui.scriptviewCategory"
            name="Script Views">
      </category>
      <view
            category="org.eclipse.escriptmonkey.scripting.ui.scriptviewCategory"
            class="org.eclipse.escriptmonkey.scripting.ui.view.ScriptEplorerView"
            id="org.eclipse.escriptmonkey.scripting.ui.view.ScriptEplorerView"
            name="Script view explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.escriptmonkey.commands.category.scriptShell"
            name="Script Shell">
      </category>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.scriptShell"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.ClearDisplay"
            id="org.eclipse.escriptmonkey.commands.scriptShell.clearDisplay"
            name="Clear Display">
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.scriptShell"
            description="Terminate current script"
            id="org.eclipse.escriptmonkey.commands.scriptShell.stop"
            name="Abort script execution">
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.scriptShell"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.Reset"
            id="org.eclipse.escriptmonkey.commands.scriptShell.reset"
            name="Reset">
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.scriptShell"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.SwitchEngine"
            id="org.eclipse.escriptmonkey.commands.scriptShell.switchEngine"
            name="Switch script engine">
         <commandParameter
               id="org.eclipse.escriptmonkey.commands.scriptShell.switchEngine.id"
               name="Script engine ID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.scriptShell"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.SpawnShell"
            id="org.eclipse.escriptmonkey.commands.scriptShell.newShell"
            name="Spawn new shell">
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.scriptShell"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.LoadModule"
            id="org.eclipse.escriptmonkey.commands.scriptShell.loadModule"
            name="Load Module">
         <commandParameter
               id="org.eclipse.escriptmonkey.commands.scriptShell.loadModule.moduleID"
               name="Module ID"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.escriptmonkey.commands.category.macro"
            name="Macro">
      </category>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.macro"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.Run"
            id="org.eclipse.escriptmonkey.commands.macro.run"
            name="Run Macro">
         <commandParameter
               id="org.eclipse.escriptmonkey.commands.macro.run.name"
               name="Macro Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.macro"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.ToggleMacroRecording"
            id="org.eclipse.escriptmonkey.commands.macro.toggleMacroRecording"
            name="Toggle  Macro Recording">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="STYLE">
         </state>
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.macro"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.ShowMacroManager"
            id="org.eclipse.escriptmonkey.commands.macro.showMacroManager"
            name="Show Macro Manager">
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.macro"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.Delete"
            id="org.eclipse.escriptmonkey.commands.macro.delete"
            name="Delete Macro">
         <commandParameter
               id="org.eclipse.escriptmonkey.commands.macro.delete.name"
               name="Macro Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.macro"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.Rename"
            id="org.eclipse.escriptmonkey.commands.macro.rename"
            name="Rename Macro">
         <commandParameter
               id="org.eclipse.escriptmonkey.commands.macro.rename.name"
               name="Macro Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.escriptmonkey.commands.category.macro"
            defaultHandler="org.eclipse.escriptmonkey.scripting.ui.handler.Edit"
            id="org.eclipse.escriptmonkey.commands.macro.edit"
            name="Edit Macro">
         <commandParameter
               id="org.eclipse.escriptmonkey.commands.macro.edit.name"
               name="Macro Name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.escriptmonkey.scripting.ui.handler.StopScriptExecution"
            commandId="org.eclipse.escriptmonkey.commands.scriptShell.stop">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.escriptmonkey.views.scriptShell">
         <separator
               name="top"
               visible="false">
         </separator>
         <command
               commandId="org.eclipse.escriptmonkey.commands.scriptShell.loadModule"
               icon="images/libraries.gif"
               id="org.eclipse.escriptmonkey.commands.scriptShell.loadModule.popup"
               label="Load Module"
               style="pulldown"
               tooltip="Load an external module">
         </command>
         <command
               commandId="org.eclipse.escriptmonkey.commands.scriptShell.clearDisplay"
               icon="images/erase.gif"
               label="Clear Display"
               style="push">
         </command>
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.escriptmonkey.commands.scriptShell.switchEngine"
               icon="images/engine.png"
               id="org.eclipse.escriptmonkey.commands.scriptShell.switchEngine.popup"
               label="Switch engine"
               style="pulldown">
         </command>
         <command
               commandId="org.eclipse.escriptmonkey.commands.scriptShell.reset"
               icon="platform:/plugin/org.eclipse.equinox.p2.ui/icons/obj/iu_update_obj.gif"
               label="Reset"
               style="push"
               tooltip="Reset Script Engine">
         </command>
         <command
               commandId="org.eclipse.escriptmonkey.commands.scriptShell.newShell"
               icon="images/shell_view.gif"
               id="org.eclipse.escriptmonkey.commands.scriptShell.newShell.popup"
               label="New shell"
               style="push">
         </command>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.escriptmonkey.commands.macro.showMacroManager"
               icon="images/macro_folder.gif"
               id="org.eclipse.escriptmonkey.commands.macro.showMacroManager.popup"
               label="Macro Manager"
               style="pulldown">
         </command>
         <command
               commandId="org.eclipse.escriptmonkey.commands.macro.toggleMacroRecording"
               icon="images/start_record_macro.gif"
               label="Toggle Macro Recording"
               style="toggle">
         </command>
         <separator
               name="additions"
               visible="false">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.eclipse.escriptmonkey.scripting.ui.service.MacroServiceFactory">
         <service></service>
         <service
               serviceClass="org.eclipse.escriptmonkey.scripting.ui.IMacroService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.filetransfer.urlStreamHandlerService">
      <urlStreamHandlerService
            protocol="macro"
            serviceClass="org.eclipse.escriptmonkey.scripting.ui.macro.MacroURLStreamHandler">
      </urlStreamHandlerService>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.escriptmonkey.scripting.ui.propertytester.ScriptEnginePropertyTester"
            id="org.eclipse.escriptmonkey.propertyTester.scriptEngineID"
            namespace="org.eclipse.escriptmonkey.scripting.ui"
            properties="engineID"
            type="org.eclipse.ui.IViewPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.eclipse.escriptmonkey.scripting.ui.launchConfigurationType1"
            name="name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.eclipse.escriptmonkey.scripting.ui.console.ScriptConsolePageParticipant"
            id="org.eclipse.escriptmonkey.scripting.ui.consolePageParticipant">
         <enablement>
            <instanceof
                  value="org.eclipse.escriptmonkey.scripting.ui.console.ScriptConsole">
            </instanceof>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ScriptUIGraph -->
      <package
            uri="http://scriptuigraph/1.0"
            class="org.eclipse.escriptmonkey.scripting.ui.scriptuigraph.ScriptuigraphPackage"
            genModel="model/ScriptUIGraph.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated ScriptUIGraph -->
      <factory
            uri="http://scriptuigraph/1.0"
            class="org.eclipse.escriptmonkey.scripting.ui.scriptuigraph.provider.ScriptuigraphItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   
   <extension
        point="org.eclipse.escriptmonkey.scripting.storedscript.metadata">
     <metadata
           impl="org.eclipse.escriptmonkey.scripting.ui.metadata.DescriptionMetadataParser"
           name="Description">
     </metadata>
     <metadata
           impl="org.eclipse.escriptmonkey.scripting.ui.metadata.MenuMetadataParser"
           name="Menu">
     </metadata>
      <metadata
            impl="org.eclipse.escriptmonkey.scripting.ui.metadata.EnableWhenMetadataParser"
            name="EnableWhen">
      </metadata>
      <metadata
            impl="org.eclipse.escriptmonkey.scripting.ui.metadata.ThreadMetadataParser"
            name="Thread">
      </metadata>
      <metadata
            impl="org.eclipse.escriptmonkey.scripting.ui.metadata.AvailableFromMetadataParser"
            name="AvailableFrom">
      </metadata>
      <metadata
            impl="org.eclipse.escriptmonkey.scripting.ui.metadata.EffectiveScriptGenerationMetadata"
            name="GenerateInjectedCodeFile">
      </metadata>
  </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Run the script selected in the Script Explorer View"
            id="org.eclipse.escriptmonkey.scripting.ui.runSelectedScript"
            name="Run Selected Script">
      </command>
   </extension>
</plugin>
