<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.escriptmonkey.scripting.engine.javascript.rhino.ui.launching.LaunchConfigurationTabGroup"
            id="org.eclipse.escriptmonkey.launchConfigurationTabGroup.rhino"
            type="org.eclipse.escriptmonkey.launchConfigurationType.rhino">
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.escriptmonkey.launchConfigurationType.rhino"
            icon="images/rhino.gif"
            id="org.eclipse.escriptmonkey.launchConfigurationTypeImage.rhino">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.escriptmonkey.scripting.engine.javascript.rhino.ui.launching.Launcher"
            description="Run a JavaScript file"
            icon="images/rhino.gif"
            id="org.eclipse.escriptmonkey.launchShortcut.rhino"
            label="EScript JavaScript (Rhino)"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="js">
                     </test>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="javascript">
                     </test>
                  </or>
               </iterate>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.escriptmonkey.scripting.engine.javascript.rhino.ui.launching.Launcher"
            id="org.eclipse.escriptmonkey.launchConfigurationType.rhino"
            modes="run,debug"
            name="EScript JavaScript (Rhino)"
            sourceLocatorId="org.eclipse.wst.jsdt.debug.rhino.ui.source.locator"
            sourcePathComputerId="org.eclipse.wst.jsdt.debug.rhino.ui.source.path.computer">
      </launchConfigurationType>
   </extension>

</plugin>
