<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.escriptmonkey.scripting.language">
      <scriptType
            extension_file="py"
            type="Python">
      </scriptType>
      <engine
            class="org.eclipse.escriptmonkey.scripting.engine.python.jython.JythonScriptEngine"
            id="org.eclipse.escriptmonkey.scripting.python.jython"
            name="Jython">
         <supportedScriptType
               type="Python">
         </supportedScriptType>
      </engine>
      <launchExtension
            class="org.eclipse.escriptmonkey.scripting.engine.python.jython.PythonEnvironementBootStrapper"
            engineID="org.eclipse.escriptmonkey.scripting.python.jython">
      </launchExtension>
      <moduleWrapper
            class="org.eclipse.escriptmonkey.scripting.engine.python.jython.PythonModuleWrapper"
            engineID="org.eclipse.escriptmonkey.scripting.python.jython">
      </moduleWrapper>
   </extension>
   <extension
         point="org.eclipse.escriptmonkey.scripting.storedscript.metadata">
      <parser
            id="org.eclipse.escriptmonkey.scripting.engine.python.jython.parser"
            parser_class="org.eclipse.escriptmonkey.scripting.engine.python.jython.PythonHeaderParser">
         <script_type
               type="Python">
         </script_type>
      </parser>
   </extension>

</plugin>
