<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ease.preferences.global"
            class="org.eclipse.ease.lang.python.jython.ui.preferences.PythonLibraryPreferencePage"
            id="org.eclipse.escriptmonkey.lang.python.ui.libraryPrefPage"
            name="Jython external library">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.ease.lang.python.jython.ui.launching.LaunchConfigurationTabGroup"
            id="org.eclipse.escriptmonkey.launchConfigurationTabGroup.jython"
            type="org.eclipse.escriptmonkey.launchConfigurationType.jython">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.ease.lang.python.jython.ui.launching.Launcher"
            id="org.eclipse.escriptmonkey.launchConfigurationType.jython"
            modes="run"
            name="EScript Jython"
            sourceLocatorId="org.eclipse.escriptmonkey.sourceLocator.generic">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.ease.lang.python.jython.ui.launching.Launcher"
            description="Run a Python file"
            id="org.eclipse.escriptmonkey.launchShortcut.jython"
            label="EScript Jython"
            modes="run">
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="py">
                     </test>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="python">
                     </test>
                  </or>
               </iterate>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
