<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.escriptmonkey.scripting.engine.javascript.rhino.debugger.model.RhinoDebugModelPresentation"
            id="org.eclipse.escriptmonkey.debugModelPresentation.rhino">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="variableViewActions"
            targetID="org.eclipse.debug.ui.VariableView">
         <menu
               id="org.eclipse.escriptmonkey.debug.ui.variableview.menu"
               label="EScript">
            <groupMarker
                  name="escript">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.escriptmonkey.scripting.engine.javascript.rhino.debugger.actions.FunctionFilterAction"
               helpContextId="show_functions_variable_help_context"
               id="org.eclipse.escriptmonkey.scripting.ui.variableview.show.functions"
               label="Show functions"
               menubarPath="org.eclipse.escriptmonkey.debug.ui.variableview.menu/escript"
               style="toggle"
               tooltip="Tooltip text">
         </action>
         <action
               class="org.eclipse.escriptmonkey.scripting.engine.javascript.rhino.debugger.actions.ModuleFilterAction"
               helpContextId="show_functions_variable_help_context"
               id="org.eclipse.escriptmonkey.scripting.ui.variableview.show.modules"
               label="Show modules"
               menubarPath="org.eclipse.escriptmonkey.debug.ui.variableview.menu/escript"
               style="toggle"
               tooltip="Tooltip text">
         </action>
      </viewContribution>
   </extension>

</plugin>
