<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.escriptmonkey.scripting.language">
      <scriptType
            extension_file="rb"
            type="Ruby">
      </scriptType>
      <engine
            class="com.codeandme.scripting.ruby.jruby.JRubyScriptEngine"
            id="com.codeandme.scripting.ruby.jruby.engine"
            name="JRuby">
      </engine>
      <launchExtension
            class="org.eclipse.escriptmonkey.scripting.modules.BootStrapper"
            engineID="com.codeandme.scripting.ruby.jruby.engine">
      </launchExtension>
      <moduleWrapper
            class="com.codeandme.scripting.ruby.jruby.JRubyModuleWrapper"
            engineID="com.codeandme.scripting.ruby.jruby.engine">
      </moduleWrapper>
   </extension>

</plugin>
