<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 
   Copyright (c)  2012 CEA LIST.
   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html
   
   Contributors:
       CEA LIST - initial API and implementation
  
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ease/discovery/1.0"
            class="org.eclipse.ease.discovery.DiscoveryPackage"
            genModel="model/discovery.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated discovery -->
      <factory
            uri="http://www.eclipse.org/ease/discovery/1.0"
            class="org.eclipse.ease.discovery.provider.DiscoveryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated discovery -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.ease.discovery.presentation.DiscoveryModelWizardID"
            name="%_UI_DiscoveryModelWizard_label"
            class="org.eclipse.ease.discovery.presentation.DiscoveryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DiscoveryModelFile.gif">
         <description>%_UI_DiscoveryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated discovery -->
      <editor
            id="org.eclipse.ease.discovery.presentation.DiscoveryEditorID"
            name="%_UI_DiscoveryEditor_label"
            icon="icons/full/obj16/DiscoveryModelFile.gif"
            extensions="ease_discovery"
            class="org.eclipse.ease.discovery.presentation.DiscoveryEditor"
            contributorClass="org.eclipse.ease.discovery.presentation.DiscoveryActionBarContributor">
      </editor>
   </extension>

</plugin>
