<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.ui.Examples/org.eclipse.eclipsemonkey.newsamplecategory"
          class="org.eclipse.escriptmonkey.scripting.integration.modeling.uml.examples.UMLScriptSamples"
          id="org.eclipse.escriptmonkey.scripting.integration.modeling.uml.examples.examples"
          name="UML integration into EASE">
    </wizard>
   </extension>
</plugin>