<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="EScript Monkey Debug"
            id="org.eclipse.escriptmonkey.scripting.dev.debug.commandcategory">
      </category>
      <command
            name="Display Script Metadata"
            categoryId="org.eclipse.escriptmonkey.scripting.dev.debug.commandcategory"
            id="org.eclipse.escriptmonkey.scripting.dev.debug.displaymetadatacommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.escriptmonkey.scripting.dev.debug.displaymetadatacommand"
            class="org.eclipse.escriptmonkey.scripting.dev.debug.handlers.DisplaySelectedScriptMedataHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="EScript monkey debug"
               mnemonic="M"
               id="org.eclipse.escriptmonkey.scripting.dev.debug.menuid">
            <command
                  commandId="org.eclipse.escriptmonkey.scripting.dev.debug.displaymetadatacommand"
                  mnemonic="S"
                  id="org.eclipse.escriptmonkey.scripting.dev.debug.displaymetadatamenu">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.escriptmonkey.scripting.dev.debug.toolbarID">
            <command
                  commandId="org.eclipse.escriptmonkey.scripting.dev.debug.displaymetadatacommand"
                  tooltip="Display Metadata"
                  id="org.eclipse.escriptmonkey.scripting.dev.debug.displaymetadatamenu2">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.escriptmonkey.scripting.dev.debug.StoredScriptEplorerView"
            id="org.eclipse.escriptmonkey.scripting.dev.debug.storedScriptView"
            name="[Developper debug] Display StoredScript Model"
            restorable="true">
      </view>
   </extension>

</plugin>
