<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension-point id="metadata" name="metadata" schema="schema/metadata_parser.exsd"/>
  <extension
         id="EScript_Monkey_Nature"
         name="EScript_Monkey_Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.escriptmonkey.scripting.storedscript.EScriptMonkeyMonkeyProjectNature">
         </run>
      </runtime>
   </extension>
  
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ScriptUIGraph -->
      <package
            uri="http://storedscript/1.0"
            class="org.eclipse.escriptmonkey.scripting.storedscript.storedscript.StoredscriptPackage"
            genModel="models/StoredScript.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated ScriptUIGraph -->
      <factory
            uri="http://storedscript/1.0"
            class="org.eclipse.escriptmonkey.scripting.storedscript.storedscript.provider.StoredscriptItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
</plugin>
