<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Selector" name="Selector" schema="schema/Selector.exsd"/>
   <extension
         point="org.eclipse.escriptmonkey.scripting.language">
      <module
            class="org.eclipse.escriptmonkey.scripting.module.platform.modules.DialogModule"
            documentation="true"
            name="DialogModule"
            visible="true">
      </module>
      <module
            class="org.eclipse.escriptmonkey.scripting.module.platform.modules.WorkbenchModule"
            documentation="true"
            name="WorkbenchModule"
            visible="true">
      </module>
      <module
            class="org.eclipse.escriptmonkey.scripting.module.platform.modules.TextEditorModule"
            documentation="true"
            name="TextEditorModule"
            visible="true">
      </module>
      <module
            class="org.eclipse.escriptmonkey.scripting.module.platform.modules.SelectionModule"
            documentation="true"
            name="SelectionModule"
            visible="true">
      </module>
   </extension>

</plugin>
